:root {
    --darkgrey: #212329;
    --brightred: #f94230;
    --white: #fff;
    --lightred: #f9433dcc;
    --deeppink: rgb(241, 89, 183);
    --darkerpink: rgb(245, 133, 153);
    --darkpink: rgb(247, 148, 173);
    --lightpink: rgb(253, 227, 231);
    --pink: rgb(252, 204, 212);
    --violet: violet;
    --lightviolet: rgb(247, 205, 247);
    --darkviolet: rgb(202, 87, 202);
}


* {
    padding: 0;
    font-family: nunito, san-serif;
    font-size: 16px;
}

.contactme-body {
    background: lightpink;
    display: flex;
    justify-content: space-evenly;
    color: var(--darkgrey);
    align-items: center;
}

.favicon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    padding-right: 10px;
    align-self: center;
    align-items: center;
}

.contact-me .map {
    width: 50vw;
    background-color: white;
    padding: 5rem;
    margin: 7rem auto;
    border-radius: 3px;
    border: 5px solid violet;
}

.title h2,
.map h2 {
    color: #535274;
    letter-spacing: 5px;
    margin-bottom: 2.5px;
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.form,
.form-items {
    width: 100%;
}

.form-items .input {
    width: 28rem;
    margin-bottom: 15px;
    padding: 15px 40px;
    box-sizing: border-box;
    background-color: white;
    border: 0;
    border-radius: 30px;
}

.form-items.input.message {
    height: 124px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    resize:none;
}

.test {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 15px 40px;
    border-radius: 30px;
    border: 0;
}

.btn {
    background: violet;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover {
    color: var(--darkgrey);
    font-weight: 700;
}

.form-items {
    position: relative;
}

.form-items .fa {
    position: absolute;
    top: 15px;
    left: 15px;
}

.social-icons {
    position: absolute;
    top: 54rem;
    left: 41%;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2rem;
}

.social-icons .fa:hover {
    color: var(--darkgrey);
}

.social-icons div {
    width: 50px;
    height: 50px;
    background: rgb(245, 138, 156);
    border-radius: 50%;
    position: relative;
}

.social-icons .fa {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
}

.googlemap {
    border-radius: 20px;
}

.map-details {
    padding-top: 10px;
    padding-left: 10px;
}

li {
    line-height: 30px;
    font-weight: bolder;
    list-style:disc;
    color: var(--darkgrey)
}

i {
    padding: 5px;
}



/* media query for mobiles ie. iphone 12pro & samsung galaxy s8*/

@media (max-width: 390px) {
    .contactme-body {
        flex-direction: column;
    }

    .form-items .input {
        width: 270px;
    }

    .googlemap {
        width: 350px;
        height: 350px;
        justify-content: center;
    }

    .map-details {
        padding-top: 10px;
        justify-content: center;
        text-align: left;
        max-width: 280px;
    }

    .social-icons {
        position: absolute;
        left: 22%;
        top: 85rem;
    }
}

/* another media query for tablet size */
@media (min-width: 390px) and (max-width: 1200px) {
    .contactme-body {
        flex-direction: column;
    }

    .form-items .input {
        width: 400px;
    }

    .googlemap {
        width: 400px;
        height: 400px;
        justify-content: center;
    }

    .social-icons {
        position: absolute;
        left: 30%;
        top: 88rem;
    }
}

